.nav-pills .nav-link {
  color: #dc3545;
  transition: 0.3s;
}
.nav-link:hover {
  /* animation: nav-pill-hover 10s; */
  font-weight: bold;
}
.nav-pills .nav-link.active {
  background-color: #fff;
  border: 1px solid #dc3545;
  color: #dc3545;
  font-weight: bold;
}
/* @keyframes nav-pill-hover {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  33% {
    transform: translateX(100%);
    opacity: 0;
  }
  66% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */
